.default__checkbox {
    display: none;

    &:checked ~ .custom__checkbox::after {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.custom__checkbox {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f5f5f5;
    min-width: 28px;
    min-height: 28px;
    border-radius: 6px;

    &::after {
        content: '';

        position: absolute;

        background-image: url('/icons/check.svg');
        width: 20px;
        height: 20px;

        transform: translateY(-10px) scale(0.6);
        opacity: 0;
        transition: 0.3s ease;
    }

    &:hover {
        background-color: #f0f0f0;
    }

    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
