@font-face {
	font-family: "Gilroy";
	font-weight: 500;
	src: url("../font/Gilroy-Medium.woff");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 600;
	src: url("../font/Gilroy-SemiBold.woff");
}